###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.cfg text eol=crlf
*.version text eol=crlf
*.txt text eol=crlf

###############################################################################
# These files are text and should be normalized (convert crlf => lf)
###############################################################################
*.cs text=auto diff=csharp

###############################################################################
# Images should be treated as binary
# (binary is a macro for -text -diff)
###############################################################################
*.png     binary
*.jepg    binary

###############################################################################
# Visual Studio
###############################################################################
*.csproj text=auto merge=union
*.sln -text merge=union